*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
.team{
    height: 400px;
    width:97%;
    background-color: black;
    color: white;
    margin-left:20px;
    margin-right:50px;
    margin-top:20px;
    text-align: center;
   
    
}
.team h1{
    font-size: 80px; 
    text-align: center;
    padding-top: 10%;
    font-weight: 30;
       
}
.box-office{
    display:flex;
    margin-top: 100px;
}
.box{
    
    height:550px;
    width:850px;
    box-sizing: border-box;
    border:2px solid black;
    padding-right: 40px;
    margin-left: 40px;
    margin-top: 100px;
}
.office{
    width:20%;
    display: block;
    margin-top:100px ;
    margin-left: 30px;
}
.office h4{
    font-size: 18px;
    font-family: sans-serif;
}